@model Clinic3.availability

@{
    ViewBag.Title = "AddAvailability";
}

<h2>Add Availability</h2>

Select a date 
<input id="Text1" type="date" />
<br/>

Start Time
<select name="startTime">
    <option value="8">8:00</option>
    <option value="9">9:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
    <option value="12">12:00</option>
    <option value="13">13:00</option>
    <option value="14">14:00</option>
    <option value="15">15:00</option>
    <option value="16">16:00</option>
</select>
<br/>

End Time 
<select name="startTime">
    <option value="8">8:00</option>
    <option value="9">9:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
    <option value="12">12:00</option>
    <option value="13">13:00</option>
    <option value="14">14:00</option>
    <option value="15">15:00</option>
    <option value="16">16:00</option>
</select>
<br/>
Duration <input id="60minutes" type="radio" group="duration" value="60 minutes"/> 60 minutes
         <input id="30minutes" type="radio" group ="duration" value="30 minutes" />30 minutes
<br/>

<input id="Add" type="submit" value="Add" />

