@{
    ViewBag.Title = "Admin Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <ul>
        <li><a href="~/doctors">Manage Doctors</a></li>
        <li><a>Manage Patients</a></li>
        <li><a href="~/display_available_slots">Manage Time Slots</a></li>
        <li>Manage Availability of Doctors</li>
        <li>Manage Appointments of Patients</li>
    </ul>
</div>
