@{
    ViewBag.Title = "Admin Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    
        <a href="~/doctors">My details</a>
        <a>Add Availability</a>
        <a>See My Availability</a>
        <a>Look up patients<a>
    
</div>
