@{
    ViewBag.Title = "Admin Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    
        <a href="~/doctors">Take appointments</a>
        <a href="~/display_available_slots">Cancel Appointments</a>
        <a>Display My Appointments</a>
    
</div>
